<!-- ./view/index.handlebars -->
<div class='container'>
  <div class='row'>
    <div class="col-12">
      <h1>你想對誰說幹話？</h1>
    </div>
  </div>

  <form action="/" method="POST">
    <div class="row">
      <div class="col-4">
        <div class="form-check form-check-inline">
          <div class="card text-center border-0" style="width: 18rem;">
            <img
              src="https://www.careermatch.com/job-prep/wp-content/uploads/sites/2/2018/09/software-engineer-1500x1000.jpg"
              class="card-img-top" alt="engineer-picture">
            <div class="card-body">
              <input class="form-check-input" type="radio" name="target" id="inlineRadio1" value="engineer">
              <label class="form-check-label" for="inlineRadio1">工程師</label>
            </div>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="form-check form-check-inline">
          <div class="card text-center border-0" style="width: 18rem;">
            <img src="https://bnextmedia.s3.hicloud.net.tw/image/album/2019-09/img-1567393084-70711@900.jpg"
              class="card-img-top" alt="designer-picture">
            <div class="card-body">
              <input class="form-check-input" type="radio" name="target" id="inlineRadio2" value="designer">
              <label class="form-check-label" for="inlineRadio2">設計師</label>
            </div>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="form-check form-check-inline">
          <div class="card text-center border-0" style="width: 18rem;">
            <img
              src="https://image-resizer.cwg.tw/resize/uri/https%3A%2F%2Fcw1.tw%2FCW%2Fimages%2Farticle%2F201707%2Farticle-595afe2e551ff.jpg/?w=1600"
              class="card-img-top" alt="entrepreneur-picture">
            <div class="card-body">
              <input class="form-check-input" type="radio" name="target" id="inlineRadio3" value="entrepreneur">
              <label class="form-check-label" for="inlineRadio3">創業家</label>
            </div>
          </div>
        </div>
      </div>



      <div class="col">
        <button type="submit" class="btn btn-success">產生幹話</button>
        <textarea class="form-control" rows="5" id="trash_talk">{{ trashTalk }}</textarea>
      </div>
    </div>
  </form>
</div>